/* InputCounter */
#taittsuu-support-input-counter {
  width: 120px;
  color: #666;
  font-size: 0.8rem;
  margin-left: auto;
  margin-top: -12px;
  margin-bottom: 12px;
}

/* LightboxOnImage */
.taittsuu-support-lightbox-membrane {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 50000;
  outline: none;
}
.taittsuu-support-lightbox-area {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.taittsuu-support-lightbox-img {
  max-height: 80vh;
  max-width: 80vw;
}
.taittsuu-support-lightbox-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  cursor: pointer;
  font-size: 160%;
  color: #999999;
}
.taittsuu-support-lightbox-handle:hover {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 220%;
}

/* WideInput */
.taittsuu-support-wide-input #taiitsuDialogInner textarea#taiitsuInput {
  width: 560px;
  min-height: 240px;
}

/* ModifyHeader */
@media screen and (min-width: 991px) {
  .taittsuu-support-modify-header .taittsuu-support-header-h3,
  .taittsuu-support-modify-header .taittsuu-support-header-links {
    position: sticky;
    top: 10px;
    z-index: 200;
  }

  body.taittsuu-support-modify-header div.post-header-wrap {
    z-index: 100;
  }
}

/* DisablePostLink */
.taittsuu-support-disable-post-link .post-content-wrapper > a.post-link {
  pointer-events: none;
}
.taittsuu-support-disable-post-link .post-content-wrapper > a.post-link a {
  pointer-events: auto;
}

/* HideFavRet */
.taittsuu-support-hide-fav-ret .post-like-button,
.taittsuu-support-hide-fav-ret .post-rt-button {
  display: none;
}

.taittsuu-support-refine-searchbox .taittsuu-support-search-mode>.bold {
  text-decoration: none;
  font-size: large;
}

.taittsuu-support-refine-searchbox .taittsuu-support-search-mode>.bold:before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 4px;
}

